.model-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #ffffff; 
}

canvas {
    width: 100%;
    height: 100%;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.gallery-container img {
    width: 30%;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles généraux */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333; 
    line-height: 1.6;
}

/* Style pour le header et le logo */
header nav {
    display: flex;
    justify-content: flex-start; /* Alignement à gauche */
    align-items: center;
    padding: 0 20px;
}

header img {
    height: 50px; /* Taille du logo */
    margin-right: 20px; /* Espacement avec les liens de navigation */
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-start; /* Alignement des liens à gauche */
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #333; 
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 90vh;
    background: url('background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; 
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
}

.hero-content .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f04c4c;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

section {
    padding: 50px 20px;
    text-align: center;
    background-color: #ffffff; 
}

.services-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background-color: #ffffff; 
    padding: 20px;
    margin: 10px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

#contact input, #contact textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
}

#contact button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #ffffff; 
    color: #333;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #ccc; 
}

